<aside class="sign-in">
  <%= form_for :session, :url => session_path, :html => { :class => 'sign-in vertical' } do |form| %>
    <%= form.text_field :email, :type => 'email', :placeholder => 'email' %>
    <%= form.password_field :password, :placeholder => 'password' %>
    <%= form.submit "Sign in" %>
  <% end %>
  <p>Don't have an account? <%= link_to 'Create an account', sign_up_path %></p>
  <p>Forgot your password? <%= link_to "Reset it", new_password_path %></p>
</aside>

