<ol class="shares-list">
  <% @shares.all.each do |share| %>
    <li>
      <%= link_to [@deck, share], :method => :delete do %>
        <i class="icon-remove"></i>
      <% end %>
      <%= share.email %>
    </li>
  <% end %>
</ol>

<%= form_for [@deck, @share] do |form| %>
  <%= form.text_field :email, :placeholder => 'email' %>
  <%= form.submit 'Share deck' %>
<% end %>

<p>We'll send them a link and cc you.</p>
