<h1 class="logo"><span>Card</span><span>slap</span></h1>

<section class="♫">
  <p>CardSlap is a website for making flashcards. You can put images or text on either side of a flashcard, you can make decks of flashcards, and you can mark them as memorized. Simple. If you need to resize them, you can do that too.</p>
  <p>Check out these examples on your computer or your phone:</p>
  <ul>
    <li><%= link_to 'An art history deck', 'arth-demo'%></li>
    <li><%= link_to 'A French vocab deck', 'french-demo'%></li>
  </ul>
</section>

<section class="auth">
  <section class="form sign-up">
    <h2>Create a Cardslap account</h2>
    <%= form_for @user do |form| %>
      <%= form.text_field :email, :type => 'email', :placeholder => 'email', :value => params['email'] %>
      <%= form.password_field :password, :placeholder => 'password' %>
      <%= form.submit 'Create an account' %>
    <% end %>
  </section>
  <section class="form sign-in">
    <h2>Already have an account?</h2>
    <%= form_for :session, :url => session_path do |form| %>
      <%= form.text_field :email, :type => 'email', :placeholder => 'email' %>
      <%= form.password_field :password, :placeholder => 'password' %>
      <%= link_to "forgot?", new_password_path, :class => 'reset' %>
      <%= form.submit "Sign in" %>
    <% end %>
  </section>
</section>
