<aside class="sign-up">
  <%= form_for @user, :html => { :class => 'sign-up vertical' } do |form| %>
    <%= form.text_field :email, :type => 'email', :placeholder => 'email', :value => params['email'] %>
    <%= form.password_field :password, :placeholder => 'password' %>
    <%= form.submit 'Create an account' %>
  <% end %>
  <p>Already have an account? <%= link_to 'Sign in', sign_in_path %></p>
</aside>

<%= render 'partials/marketing' %>
