<aside>
  <%= form_for @user, :html => { :class => 'sign-up' } do |form| %>
    <%= form.text_field :email, :type => 'email', :placeholder => 'email' %>
    <%= form.password_field :password, :placeholder => 'password' %>
    <%= form.submit 'Get started' %>
  <% end %>
  <p>Already have an account? <%= link_to 'Sign in', sign_in_path %></p>
</aside>

<%= render 'partials/marketing' %>
