<% if is_string_image?(card.front) %>
  <span class="front image">
    <img src="<%= card.front %>" />
    <%= link_to 'delete', [@deck, card], :method => :delete, :class => 'delete' %>
  </span>
<% else %>
  <span class="front">
    <%= card.front %>
    <%= link_to 'delete', [@deck, card], :method => :delete, :class => 'delete' %>
  </span>
<% end %>

<% if is_string_image?(card.back) %>
  <span class="back image"><img src="<%= card.back %>" /></span>
<% else %>
  <span class="back"><%= card.back %></span>
<% end %>
