<% if is_string_image?(card.front) %>
  <span class="front image">
    <img src="<%= card.front %>" />
    <div class="actions">
      <%= link_to 'edit', edit_deck_card_path(@deck, card), :class => 'edit' %>
      <%= link_to 'delete', [@deck, card], :method => :delete, :class => 'delete' %>
    </div>
  </span>
<% else %>
  <span class="front">
    <%= card.front %>
    <div class="actions">
      <%= link_to 'edit', edit_deck_card_path(@deck, card), :class => 'edit' %>
      <%= link_to 'delete', [@deck, card], :method => :delete, :class => 'delete' %>
    </div>
  </span>
<% end %>

<% if is_string_image?(card.back) %>
  <span class="back image"><img src="<%= card.back %>" /></span>
<% else %>
  <span class="back"><%= card.back %></span>
<% end %>
