<li draggable="true" data-sort="<%= card.sort_number %>" data-id="<%= card.id %>" style="width: <%= card.width %>px; height: <%= card.height %>px;">
  <% if is_string_image?(card.front) %>
  <span class="front image">
    <img src="<%= card.front %>" />
  <% else %>
  <span class="front">
    <pre class="text"><%= card.front %></pre>
  <% end %>
    <div class="actions">
      <%= link_to edit_deck_card_path(deck, card), :class => 'edit' do %>
        <i class="icon-pencil"></i>
      <% end %>
      <%= link_to [deck, card], :method => :delete, :remote => :true, :class => 'delete' do %>
        <i class="icon-remove"></i>
      <% end %>
    </div>
  </span>

  <% if is_string_image?(card.back) %>
    <span class="back image"><img src="<%= card.back %>" /></span>
  <% else %>
   <span class="back"><pre class="text"><%= card.back %></pre></span>
  <% end %>
</li>
<li class="reorder-target" style="height: <%= card.height %>px;"></li>
