<ul class="decks">
  <% @decks.each do |deck| %>
    <li class="deck">
      <%= link_to deck.name, deck %>
      <div class="actions">
        <%= link_to 'share', new_deck_share_path(deck), :class => 'share' %>
        <%= link_to 'rename', edit_deck_path(deck), :class => 'edit' %>
        <%= link_to 'delete', deck, :method => :delete, :class => 'delete' %>
      </div>
    </li>
  <% end %>
  <li class="create-deck">
    <%= render :partial => 'form', :locals => { :deck => @deck } %>
  </li>
  <div class="clearfix"></div>
  <% @shared_decks.each do |shared_deck| %>
    <li class="shared">
      <%= link_to shared_deck.name, deck_share_path(shared_deck.id, shared_deck.share_id) %>
      <div class="actions">
        <%= link_to 'remove', deck_share_path(shared_deck.id, shared_deck.share_id), :method => :delete, :class => 'delete' %>
      </div>
    </li>
  <% end %>
</ul>
