<ul class="decks">
  <% @decks.each do |deck| %>
    <li class="deck">
      <%= link_to deck.name, deck %>
      <div class="actions">
        <%= link_to edit_deck_path(deck), :class => 'edit' do %>
          <i class="icon-pencil"></i>
        <% end %>
        <%= link_to deck, :method => :delete, :class => 'delete' do %>
          <i class="icon-remove"></i>
        <% end %>
      </div>
    </li>
  <% end %>
  <li class="create-deck">
    <%= render :partial => 'form', :locals => { :deck => @deck } %>
  </li>
  <% @shared_decks.each do |shared_deck| %>
    <li class="shared" data-shareid="<%= shared_deck.share_id %>">
      <%= link_to shared_deck.name, deck_share_path(shared_deck.id, shared_deck.share_id) %>
      <div class="actions">
        <%= link_to deck_share_path(shared_deck.id, shared_deck.share_id), :method => :delete, :remote => true, :class => 'delete' do %>
          <i class="icon-remove"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
