<header>
  <h1>Cardslap</h1>
  <nav>
    <%= link_to "Back", decks_path, :class => "back" %>
  </nav>
</header>

<%= form_for @deck do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
