<ul class="cards" data-deck_id="<%= @deck.id %>">
  <% @cards.each do |card| %>
    <% if card.bin == 'main' %>
      <li draggable="true" data-id="<%= card.id %>" style="width: <%= card.width %>px; height: <%= card.height %>px;">
        <%= render card %>
      </li>
      <li class="reorder-target" style="height: <%= card.height %>px;"></li>
    <% end %>
  <% end %>
  <li class="reorder-target last"></li>
  <li class="card-button"><%= link_to 'Create card', [:new, @deck, :card], :class => "create-link" %></li>
  <li class="card-button"><%= link_to 'Enter quiz mode', deck_quiz_index_path(@deck), :class => "enter-quiz" %></li>
</ul>

<div id="bin">
  <h2>Memorized Pile</h2>
  <% @cards.each do |card| %>
    <% if card.bin == 'bin' %>
      <li draggable="true" data-id="<%= card.id %>">
        <%= render card %>
      </li>
    <% end %>
  <% end %>
</div>

<ul class="exportshare">
  <li><a class="export" href="<%= request.url %>.csv">export deck</a></li>
  <li><%= link_to 'share deck', new_deck_share_path(@deck) %></li>
</ul>
