<header>
  <h1>Cardslap <span><%= @deck.name %></span></h1>
  <nav>
    <%= link_to 'Create card', [:new, @deck, :card], :class => "create-link" %>
    <%= link_to "Back", decks_path, :class => "back" %>
  </nav>
</header>

<ul class="cards">
  <% @cards.each do |card| %>
    <li>
      <span class="front"><%= card.front %></span>
      <span class="back"><%= card.back %></span>
    </li>
  <% end %>
</ul>
