<!DOCTYPE html>
<html>
<head>
  <title>Cardslap</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $('.cards li').live('click', function() {
        $(this).toggleClass('flip');
      });

      $('#bin li').live('click', function() {
        $(this).toggleClass('flip');
      });

      // flip each card on click and hold for any card
      $('.cards li').live('longclick', function() {
        $('.cards li').each(function() {
          $(this).toggleClass('flip');
        });
      });
  </script>
</head>
<body>
  <div class="wrapper">
    <% if signed_in? %>
      <header>
        <% if defined? @card %>
          <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> <a href="<%= decks_path %>">Cardslap</a> <span><%= link_to @deck.name, deck_path(@deck) %></span></h1>
        <% elsif defined? @deck %>
          <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> <a href="<%= decks_path %>">Cardslap</a> <span><%= @deck.name %></span></h1>
        <% else %>
          <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> Cardslap</h1>
        <% end %>
      </header>
      <% if flash[:notice] %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
      <footer>
        <p><%= current_user.email %> <%= link_to 'sign out', sign_out_path, :method => :delete %>, <%= link_to 'change password', edit_user_password_path(current_user) %></p>
      </footer>
    </div>
  <% else %>
    <header>
      <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> Cardslap</h1>
    </header>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  <% end %>
</body>
</html>
