<!DOCTYPE html>
<html>
<head>
  <title>Cardslap</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0"/>
</head>
<body>
  <div class="wrapper">
    <header>
      <% if (defined? @share and defined? @deck) %>
        <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> <a href="<%= root_path %>">Cardslap</a> <span><%= link_to @deck.name, deck_share_path(@deck.id, @share) %></span></h1>
      <% elsif ((defined? @card or defined? @share or defined? @quiz) and defined? @deck) %>
        <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> <a href="<%= root_path %>">Cardslap</a> <span><%= link_to @deck.name, deck_path(@deck) %></span></h1>
      <% elsif defined? @deck %>
        <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> <a href="<%= root_path %>">Cardslap</a> <span><%= @deck.name %></span></h1>
      <% else %>
        <h1><%= image_tag 'cardslap-32.png', :class => 'logo' %> <a href="<%= root_path %>">Cardslap</a></h1>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
      <div class="clearfix"></div>
    <% end %>
    <% if signed_in? %>
      <%= yield %>
      <footer>
        <p><%= current_user.email %> <%= link_to 'sign out', sign_out_path, :method => :delete %>, <%= link_to 'account settings', account_path %></p>
      </footer>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
